@import "tailwindcss";

:root {
    --puppa-mint: #A7D3C2;
    --puppa-green: #008577;
    --puppa-blue-light: #B7DCE6;
    --puppa-turquoise: #41C4D3;
    --puppa-yellow: #F9E7A8;
    --puppa-peach: #F6D6C4;
    --puppa-coral: #E27674;
    --puppa-lilac: #C79BC8;
    --puppa-sand: #F6EFE6;

    --font-title: 'Cormorant', serif;
    --font-text: 'Inter', sans-serif;
};
/*
.hero {
  min-height: 100vh;
  width: 100%;
  background: #071018;
}

body, html, #root {
  margin: 0;
  padding: 0;
  background: #071018; 
}