name: Deploy Puppa Lab to Cloud Run

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Google Auth
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'

    - name: 'Artifact Registry Auth'
      run: |
        gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Build and Push Container
      run: |
        docker build -t us-central1-docker.pkg.dev/pupalab-portfolio/puppa-repo/puppa-app:v1 ./PuppaLab
        docker push us-central1-docker.pkg.dev/pupalab-portfolio/puppa-repo/puppa-app:v1

    - name: Deploy to Cloud Run
      uses: 'google-github-actions/deploy-cloudrun@v2'
      with:
        service: 'puppa-lab-service'
        image: 'us-central1-docker.pkg.dev/pupalab-portfolio/puppa-repo/puppa-app:v1'
        region: 'us-central1'